.full-width-table {
  width: 100%;
}

/* Zeile-Overlay für den Loading Spinner */
.row-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7); /* Semitransparent */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Über die Zeile legen */
}

tr {
  position: relative; /* Für das Overlay notwendig */
}
