<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>
    <!-- birthdate Column -->
    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>birthdate</th>
      <td mat-cell *matCellDef="let row">{{row.birthdate | date:'dd.MM.yyyy'}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="courseId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Kurs</th>
      <td mat-cell *matCellDef="let row">{{translateKurs(row.courseId)}}</td>
    </ng-container>
    <!-- EMail Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>EMail</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <!-- notifications Column -->
    <ng-container matColumnDef="notifications">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Benachrichtigung</th>
      <td mat-cell *matCellDef="let row">{{row.notifications?"Ja":"Nein"}}</td>
    </ng-container>

    <!-- Registration Date -->
    <ng-container matColumnDef="registrationdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registrierungsdatum</th>
      <td mat-cell *matCellDef="let row">{{ row.registrationdate | date: 'dd.MM.yyyy' }}</td>
    </ng-container>

    <!-- Abmelden Column -->
    <ng-container matColumnDef="abmelden">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Abmelden</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="red" (click)="confirmDeletion(row.id)">
          Abmelden
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="3"
      [pageSizeOptions]="[3, 5, 10]"
      aria-label="Select page">
  </mat-paginator>
</div>
